
.pokedex-wrapper {
    display: flex;
    /* margin-left: 1200px; */
    flex-direction: column;
}
#pokedex-heading{
    margin-left: 678px;
}

button{
    width: 140px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0ch;
}

span{
    font-weight: 600;
}