.pokemon-details-wrapper{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.pokemon-name{
    font-size: xx-large;
    color: #808080;
    margin-bottom: 40px;
    
}
.pokemon-name span{
    letter-spacing: 1rem;
}

.pokemon-types{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
    font-size: larger;
}

.image{
    max-height: 200px;
}
.pokemon-types div{
    border: 1px solid greenyellow;
    border-radius: 15px;
    padding: 1rem;
    background-color: greenyellow;
}

.other{
    font-size: large;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    color: #808080;
}
.message{
    font-weight: 1000;
    font-size: 30px;

}
.other ul{
    letter-spacing: 2px;
    justify-content: center;
     padding-left: 180px;
     list-style:disc;
    align-items: center;

}
.other ul :hover{
    color: red;
    font-family:cursive;
}

button{
    cursor: pointer;
    border: 1px solid greenyellow;
    border-radius: 15px;
    text-align: center;
    /* padding: 1rem; */
    background-color: greenyellow;
}