#preloader{
    background:  url(./tenor.gif) no-repeat center ;
    height: 100px;
    width: 200%;
    position: fixed;
    z-index: 100;
    background-size: 10%;
}
/* body { */
    /* background-color: red;
} */